/tests/.pytest_cache/
.passwords.yaml
.saved_settings.db
*.adoc
/build/
/dist/
/package/
/tests/
/cb_release_note.spec
cb_release_note
/__pycache__/
/.fleet/settings.json
/Jira Tests.http
/cb-release-note.spec
