# Configuration file for the release notes builder

# $schema: ./cb_release_config_schema.yaml

version: "2.3.0"

password_file: ./.passwords.yaml
templates_directory: ./templates
jira_batch_size: 50

release_settings:

  - name: "Sync Gateway"
    fields:
      - name: release_number
        type: text
        message: 'Enter the release number:'
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = CBG AND issuetype in (Bug, "New Feature", Improvement) 
      AND (fixVersion = {{release_number}} OR labels IN (known_issue)) 
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: sync-gateway.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "What's New (Server)"
    fields:
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: release_number
        type: text
        message: 'Enter the release label:'
      - name: release_text
        type: text
        message: 'Enter the release number for the title line:'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Server" 
      AND type IN ("Improvement", "Technical Task", "New Feature", "Task")
      AND fixVersion in ({{release_number}}) 
      AND labels IN (releasenote,releasenotecomplete) 
      AND ("Release Notes[Labels]" NOT IN (suppress-{{release_number}}) OR "Release Notes[Labels]" IS EMPTY)
      AND summary !~ "System Test" AND resolution not in (Declined, "Won't Fix") 
      AND reporter not in (membersOf(couchbase-qe-team))
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-server-whats-new.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "Breaking changes (Server)"
    fields:
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: release_number
        type: text
        message: 'Enter the release label:'
      - name: release_text
        type: text
        message: 'Enter the release number for the title line:'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Server" 
      AND fixVersion in ({{release_number}}) 
      AND labels IN (breaking-change) 
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-server-breaking-changes.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "Known issues (Server)"
    fields:
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: release_number
        type: text
        message: 'Enter the release label:'
      - name: release_text
        type: text
        message: 'Enter the release number for the title line:'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Server" 
      AND status = Open 
      AND affectedVersion IN ({{release_number}}) 
      AND labels IN (releasenote,releasenotecomplete)
      AND ("Release Notes[Labels]" NOT IN (suppress-{{release_number}}) OR "Release Notes[Labels]" IS EMPTY)
      AND summary !~ "System Test" AND description !~ "System Test"  
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-server-known-issues.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "Fixes and enhancements (Server 8.0+)"
    fields:
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: release_number
        type: text
        message: 'Enter the release label:'
      - name: release_text
        type: text
        message: 'Enter the release number for the title line:'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Server" 
      AND type IN (Epic, Bug, Improvement, Task, "Technical Task")
      AND fixVersion in ({{release_number}}) 
      AND labels IN (releasenote,releasenotecomplete) 
      AND ("Release Notes[Labels]" NOT IN (suppress-{{release_number}}) OR "Release Notes[Labels]" IS EMPTY)
      AND summary !~ "System Test" AND resolution not in (Declined, "Won't Fix") 
      AND reporter not in (membersOf(couchbase-qe-team))
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-server-bug-fixes.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "Fixes and enhancements (Server 7.0+)"
    fields:
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: release_number
        type: text
        message: 'Enter the release label:'
      - name: release_text
        type: text
        message: 'Enter the release number for the title line:'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Server" 
         AND fixVersion in ({{release_number}}) 
         AND labels IN (releasenote,releasenotecomplete)  
         AND summary !~ "System Test" 
         AND reporter NOT IN (membersOf("couchbase-qe-team"))
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-server-table-format.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, 
      no headings, no links, no identifying names or email addresses, 
      and no more than 8 sentences'

  - name: "Couchbase Mobile"
    fields:
      - name: module
        type: choice
        message: 'Select module:'
        choices:
          - Android
          - C
          - .NET
          - Java
          - Javascript
          - Objective-C
          - Swift
      - name: release_number
        type: text
        message: 'Enter the release number:'
      - name: release_date
        type: text
        message: 'Enter the release date (month year)'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = CBL AND issuetype in (Bug, Improvement, Task)
      AND Component in (.NET, C, IOS, Java, Java-Android, Kotlin, Kotlin-Android, LiteCore, API)
      AND (fixVersion = {{release_number}} AND labels IN (releasenote,known_issue,deprecated,releasenotecomplete))
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-mobile.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'


  - name: "Couchbase Operator (table format)"
    fields:
      - name: release_number
        type: text
        message: 'Enter the release number:'
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Kubernetes" 
      AND fixVersion = {{release_number}} 
      AND labels IN (releasenote,releasenotecomplete) 
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-operator-table-format.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

  - name: "Couchbase Operator"
    fields:
      - name: release_number
        type: text
        message: 'Enter the release number:'
      - name: release_date
        type: text
        message: 'Enter the release date (Month Year):'
      - name: file_path
        type: file
        message: 'Enter the file path for the release notes:'
    url: https://jira.issues.couchbase.com
    jql: project = "Couchbase Kubernetes" 
      AND fixVersion = {{release_number}} 
      AND labels IN (releasenote,releasenotecomplete) 
      ORDER BY key ASC
    release_note_field: 'customfield_11402'
    template: couchbase-operator.jinja2
    ai_service:
      name: chatgpt
      model: 'gpt-4o'
      prompt: 'Summarise the following as a short release note with no version numbers, no headings, no links, no identifying names or email addresses, and no more than 8 sentences'

