copilot-api
jira~=3.10.5
click~=8.3.1
Jinja2~=3.1.6
pyfiglet~=1.0.2
PyYAML~=6.0.2
jsonschema~=4.25.1
inquirerpy~=0.3.4
termcolor~=3.2.0
alive-progress~=3.3.0
openai~=2.11.0
pyinstaller~=6.17.0
google-genai~=1.55.0
numpy~=2.3.5
pytest~=9.0.2



