[#release-{{ user_settings.fields.release_number | replace_dots('') }}]
== Release {{ user_settings.fields.release_number }} ({{ user_settings.fields.release_date }})

Couchbase Operator {{ user_settings.fields.release_number }} was released in {{ user_settings.fields.release_date }}.
This maintenance release contains fixes to issues.

[#fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }}]
== Fixed Issues

{% if issues | length > 0 %}

[#table-fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }},cols="25,66"]

{% for issue in issues %}

*{{ url_with_jira(user_settings.release_set.url, issue.key) }}*::

{% if issue.fields['customfield_11402'] is not none and issue.fields['customfield_11402'] | length > 0 %}
{{ issue.raw['fields']['customfield_11402'] | replace('{{', '`') | replace('}}','`') }}
{% else %}
{{ issue.fields.ai_summary }}
{% endif %}
{% endfor %}

{% endif %}



