{%  macro generate_issue_list(issues, heading, tag_prefix) %}
{% if issues | length %}
{% for issue in issues %}

* {{ user_settings.release_set.url }}/browse/{{ issue.key }}[++{{ issue.key }} — {{ issue.fields.summary }}++]
{% endfor %}
{% else %}
None for this release.
{%  endif %}

{%  endmacro %}

{%- set component_map =
{
  'Android':['Java-Android', 'Kotlin', 'Kotlin-Android', 'LiteCore'],
  'C':['C', 'LiteCore'],
  '.NET':['.NET', 'LiteCore'],
  'Java':['Java', 'Java-Android', 'Kotlin-Android'],
  'Javascript':['Kotlin', 'LiteCore'],
  'Objective-C':['IOS', 'LiteCore'],
  'Swift':['IOS', 'LiteCore']
} -%}

{% set filtered_issues = issues | filter_by_component(component_map[user_settings.fields['module']]) %}

{% set bugs = filtered_issues | selectattr('fields.issuetype.name', 'in', 'Bug')
| selectattr('fields.status.name', 'in','Resolved, Closed')
| selectattr('fields.resolution.name', 'in','Fixed, Done')
| rejectattr('fields.labels', 'contains', 'known_issue') | list  %}

{% set improvements = filtered_issues | selectattr('fields.issuetype.name', 'in', 'Improvement')
| selectattr('fields.status.name', 'in','Resolved, Closed')
| selectattr('fields.resolution.name', 'in','Fixed, Done')
| rejectattr('fields.labels', 'contains', 'known_issue') | list %}

{% set known_issues = filtered_issues | selectattr('fields.labels', 'contains', 'known_issue')
| rejectattr('fields.status.name', 'in','Resolved, Closed') | list %}

[#maint-{{ user_settings.fields.release_number | replace_dots('-') }}]
== {{ user_settings.fields.release_number }} -- {{ user_settings.fields.release_date }}

Version {{ user_settings.fields.release_number }} for {{user_settings.fields['module']}} delivers the following features and enhancements:

=== Enhancements

{{ generate_issue_list(improvements, "Enhancements", "Enhancements") }}

=== Issues and Resolutions

{{ generate_issue_list(bugs, "Fixed", "Fixed") }}

=== Known Issues

{{ generate_issue_list(known_issues, "Known Issues", "KI") }}


