{% macro generate_issue_table(issues, title, components, suffix) %}
{% set filtered_issues = issues | filter_by_component(components) %}

{% if filtered_issues | length > 0 %}
=== {{ title }}

[#dlist-known-issues-{{ user_settings.fields.release_text | replace_dots('') }}-{{ suffix }}]

{% for issue in filtered_issues %}

*{{ url_with_jira(user_settings.release_set.url, issue.key) }}*::

{% if not issue.fields['customfield_11402']  %}
{{ issue.fields.ai_summary }}
{% else %}
{{ issue.raw['fields']['customfield_11402'] }}
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}


{% macro generate_uncategorized_issue_table(issues, title, components, suffix) %}
{% set filtered_issues = issues | filter_out_by_component(components) %}

{% if filtered_issues | length > 0 %}
=== {{ title }}

[#dlist-known-issues-{{ user_settings.fields.release_text | replace_dots('') }}-{{ suffix }}]

{% for issue in filtered_issues %}

*{{ url_with_jira(user_settings.release_set.url, issue.key) }}*::

{% if issue.fields['customfield_11402'] is not none and issue.fields['customfield_11402'] | length > 0 %}
{{ issue.raw['fields']['customfield_11402'] }}
{% else %}
{{ issue.fields.ai_summary }}
{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}



[#release-{{ user_settings.fields.release_text | replace_dots('') }}]
== Release {{ user_settings.fields.release_text }} ({{ user_settings.fields.release_date }})

Couchbase Server {{ user_settings.fields.release_text }} was released in {{ user_settings.fields.release_date }}.
This maintenance release contains fixes to issues.

== What's New

{{ generate_issue_table(issues, 'Installer', ['installer'], 'installation') }}
{{ generate_issue_table(issues, 'Cluster Manager', ['ns_server'], 'cluster-manager') }}
{{ generate_issue_table(issues, 'Storage', ['storage-engine','couchbase-bucket'], 'storage') }}
{{ generate_issue_table(issues, 'Data Service', ['memcached'], 'data-service') }}
{{ generate_issue_table(issues, 'Views', ['view-engine'], 'views') }}
{{ generate_issue_table(issues, 'XDCR', ['XDCR'], 'xdcr') }}
{{ generate_issue_table(issues, 'Query Service', ['query'], 'query-service') }}
{{ generate_issue_table(issues, 'Eventing Service', ['eventing'], 'eventing-service') }}
{{ generate_issue_table(issues, 'Backup Service', ['tools'], 'backup-service') }}
{{ generate_issue_table(issues, 'Analytics Service', ['analytics'], 'analytics-service') }}
{{ generate_issue_table(issues, 'Index Service', ['secondary-index'], 'index-service') }}
{{ generate_issue_table(issues, 'Search Service', ['fts'], 'search-service') }}
{{ generate_issue_table(issues, 'Tools', ['tools'], 'tools') }}
{{ generate_uncategorized_issue_table(issues, 'Uncategorized',['installer', 'ns_server',
'storage-engine', 'couchbase-bucket', 'memcached', 'XDCR', 'query', 'eventing',
'tools','analytics', 'secondary-index',
'fts', 'tools' ],'uncategorized') }}

