[#release-{{ user_settings.fields.release_number | replace_dots('') }}]
== Release {{ user_settings.fields.release_number }}

Couchbase Operator {{ user_settings.fields.release_number }} was released in {{ user_settings.fields.release_date }}.
This maintenance release contains fixes to issues.

[#fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }}]
=== Fixed Issues

{% if issues | length > 0 %}

[#table-fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }},cols="25,66"]

|===
|Issue | Description


{% for issue in issues %}

| {{ url_with_jira(user_settings.release_set.url, issue.key) }}

{% if issue.fields[user_settings.release_set.release_note_field] is not none
     and issue.fields[user_settings.release_set.release_note_field] | length > 0 %}
    {{- "a| *Summary:* " ~  issue.raw['fields'][user_settings.release_set.release_note_field]
    | convert_to_asciidoc_urls(user_settings.disable_urls)
    | replace('{{', '`')
    | replace('}}','`')
    | replace(". ", ".\n") or '{empty}' }}
{% else %}
    {{- "a| *Summary:*" ~ (issue.fields.ai_summary | replace(", ", ",\n")
    | replace(". ", ".\n"))  or '{empty}'}}
{% endif %}
{% endfor %}
|===
{% endif %}



