[#release-{{ user_settings.fields.release_number | replace_dots('') }}]
== Release {{ user_settings.fields.release_number }}

[#fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }}]
=== Fixed Issues

{% if issues | length > 0 %}

[#table-fixed-issues-v{{ user_settings.fields.release_number | replace_dots('') }},cols="25,66"]

|===
|Issue | Description


{% for issue in issues %}

| {{ url_with_jira(user_settings.release_set.url, issue.key) }}

{% if issue.fields['customfield_11402'] is not none and issue.fields['customfield_11402'] | length > 0 %}
a| *Summary:* {{ issue.raw['fields']['customfield_11402'] | replace('{{', '`') | replace('}}','`') or '{empty}' }}
{% else %}
a| *Summary:* {{ issue.fields.ai_summary or '{empty}'}}
{% endif %}
{% endfor %}
|===
{% endif %}



