{{ generate_issue_table(issues, 'Installer', ['installer'], 'installation') }}
{{ generate_issue_table(issues, 'Cluster Manager', ['ns_server'], 'cluster-manager') }}
{{ generate_issue_table(issues, 'Data Service', ['memcached', 'data-service', 'storage-engine', 'couchbase-bucket'], 'data-service') }}
{{ generate_issue_table(issues, 'Views', ['view-engine', 'UI'], 'views') }}
{{ generate_issue_table(issues, 'XDCR', ['XDCR'], 'xdcr') }}
{{ generate_issue_table(issues, 'Query Service', ['query'], 'query-service') }}
{{ generate_issue_table(issues, 'Eventing Service', ['eventing'], 'eventing-service') }}
{{ generate_issue_table(issues, 'Analytics Service', ['analytics'], 'analytics-service') }}
{{ generate_issue_table(issues, 'Index Service', ['secondary-index'], 'index-service') }}
{{ generate_issue_table(issues, 'Search Service', ['fts'], 'search-service') }}
{{ generate_issue_table(issues, 'Tools', ['tools', 'build'], 'tools') }}
{{ generate_uncategorized_issue_table(issues, 'Uncategorized',['installer', 'ns_server',
'storage-engine', 'couchbase-bucket', 'memcached', 'XDCR', 'query', 'eventing',
'tools','analytics', 'secondary-index', 'UI', 'build',
'fts', 'tools', 'data-service' ],'uncategorized') }}