{% macro generate_issue_list(issues) %}

{%  if issues | length %}
{% for issue in issues %}

* {{ user_settings.release_set.url }}/browse/{{ issue.key }}[++{{ issue.key }} {{ issue.fields.summary }}++]
{% endfor %}
{% else %}
None for this release.
{%  endif %}

{% endmacro %}

{% set improvements = issues | selectattr('fields.issuetype.name', 'in', 'New Feature,Epic,Improvement')
| selectattr('fields.status.name', 'in','Resolved, Closed')
| selectattr('fields.resolution.name', 'in','Fixed, Done')
| rejectattr('fields.labels', 'contains', 'known_issue') | list %}

{% set bugs = issues | selectattr('fields.issuetype.name', 'in', 'Bug')
| rejectattr('fields.labels', 'contains', 'known_issue') | list  %}

{% set known_issues = issues | selectattr('fields.labels', 'contains', 'known_issue')
| rejectattr('fields.status.name', 'in','Resolved, Closed') | list %}

== {{ user_settings.fields.release_number }} -- {{ user_settings.fields.release_date }}

[#maint-{{user_settings.fields.release_number | replace_dots('-') }}]

=== Enhancements
{{ generate_issue_list(improvements) }}

=== Issues and Resolutions

==== Fixed Issues

{{ generate_issue_list(bugs) }}

==== Known Issues

{{ generate_issue_list(known_issues) }}
